html {
  background-color: #c9b5ae;
  font-family: Georgia, serif;
}

h1,
h2 {
  color: #39101e;
}

.beets-nav a {
  color: #70343e;
  text-decoration: none;
  font-size: 1.25rem
}

.beets-nav a:hover{
  color: #39101e;
  text-decoration: underline;
}

.beets-nav ol{
  list-style-type: none;
}

img {
  width: 100%;
}

figcaption {
  text-align: center;
  font-style: italic;
}

main > p:first-child {
  font-weight: bold;
  font-size: 1.25rem;
}

main p b {
  font-weight: bold;
}

cite,
i {
  font-style: italic;
}

.pratt-quote p,
em,
strong {
  font-size: 1.5rem;
  font-style: italic;
  font-weight: normal;
}

footer cite {
  font-size: 0.75rem;
}

main ol {
  list-style-type: lower-greek;
  line-height: 1.5;
}

.serving-size {
  font-style: italic;
}
